// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================


header {
  background-color: @basecolor;
  color: #FFFFFF;
  h1 {
    text-align:center;
    font-size: 28px;
    width: 320px;
    margin: 0px auto;
    img {
      padding-bottom: 6px;
    }
  }
}

form {
  width:310px;
  margin-top: 1em;
  margin-bottom: 1em;
  .form-row {
    label {
      width:50px;
    }
    input {
      width:250px;
    }
  }
  .form-row-mode {
    input {
      width:100px;
    }
    select {
      width:200px;
    }
  }
  .form-row-time {
    select {
      width:100px;
    }
    input {
      width:200px;
    }
  }
  label {
    display: inline-block;
  }
  input,select {
    display:inline-block;
  }
}

.form-row,.form-row-mode,.form-row-time {
  margin-bottom : @baselineheight / 4;
}


.container {
  margin-left: 1em;
  margin-right:1em;
}

footer {
  font-size:10;
  color: rgb(128,128,128)
}

ul,ol {
  padding-left: 0px;
}

.legs {
  margin-left:0em;
}

li.leg {
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

hr {
  clear:both;
}

.distance {
  float:right;
}
.eta {
  float:right;
  padding-top: 6px;
  font-size:200%;
  color: rgb(128,128,128)
}

ol.steps {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  clear:left;
}

.sign {
  float:left;
  width: 40px;
  text-align:center;
  font-size: 8pt
}

.sign img {
  display: block;
  margin-left:4px;
  margin-right:4px;
}

.title {
  padding-top: 3px;
  font-size: 120%;
  font-weight: bolder;
}

.subtitle {
  color: rgb(128,128,128)
}

