{% extends "layout.html" %}
{% block content %}
<p>BikeBus NOLA is a free service for mobile phones which demonstrates how you can
extend your bike ride through the city of New Orleans by making use of the
public transit system. It provides step by step directions on how to get
between any two points in the city, and if you&#8217;re not on your bike, you can get
other types of directions as well. </p>

<p>The <a href="/">BikeBus NOLA mobile website</a> can be accessed from most
internet-enabled mobile phones. If you don&#8217;t have such a phone, you can get
directions via SMS text message. </p>

<p>Text <code>HELP</code> to <strong>(504) 322&#8211;4900</strong> for more details or visit our <a href="/smshelp">SMS help</a>
page.</p>

<h2 id="credits">Credits</h2>

<p>This website was created by volunteers as part of the <a href="http://handbook.neighborland.com/good-ideas-for-new-orleans/">Good Idea For New
Orleans</a> project, in partnership with <a href="http://bikeeasy.org/">BikeEasy</a> and <a href="http://www.transportfornola.org/">Transport
For Nola</a>. It is <a href="https://github.com/joelcarranza/bikebus">open source</a> and community funded. If you
would like to help us out please <a href="&#x6d;&#x61;&#105;&#108;&#x74;&#111;&#58;&#105;&#x6e;&#x66;&#x6f;&#x40;&#x62;&#x69;&#x6b;&#x65;&#98;&#117;&#x73;&#110;&#x6f;&#x6c;&#x61;&#x2e;&#99;&#x6f;&#109;">&#x63;&#x6f;&#110;&#x74;&#97;&#x63;&#116; &#117;&#115;</a>.</p>
{% endblock %}

{% block head %}
  <meta name="description" content="Info about the BikeBus NOLA project and how you can help">
{% endblock %}


{% block footer %}
<a href="/">Get Directions</a> | <a href="/about">More Info</a> | <a href="/smshelp">SMS Help</a> | <a href="mailto:info@bikebusnola.com">Contact Us</a>
{% endblock %}
