{% extends "layout.html" %}

{% macro ll(pt) -%}
  {{'%.4f'|format(pt.lat)}},{{'%.4f'|format(pt.lon)}}
{%- endmacro %}

{% macro option(var,value,label) %}
<option value="{{value}}" {% if var==value %}SELECTED{% endif %}>{{label}}</option>
{%- endmacro %}

{% macro hideif(var) -%}
{% if var %} style="display: none;"{%endif%}
{%- endmacro %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/js/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="static/js/app.js"></script>
{% endblock %}

{% block head %}
  {# TODO: include direction FROM to TO here? #}
  <title>Bike Bus New Orleans
    {% if result %}
    - Directions from {{fromgeo[2]}} to {{togeo[2]}}
    {% endif %}
  </title>
  <meta name="description" content="Provides combined bicycle/public directions for the city of New Orleans">
  <link rel="stylesheet" href="static/css/app.css">
  <script>
  var currentPosition = null;
  var currentPositionCallback = null;

  function glsuccess(coord) {
    currentPosition = coord;
    if(currentPositionCallback) {
      currentPositionCallback(currentPosition);
    }
  }

  // if new "blank" form try and grab current position
  if (!window.location.search && navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(glsuccess);
  }
</script>
{% endblock %}

{% block content %}

<div id="prompt" {%if result %}style="display:none"{%endif%}>
    <form class="form-inline" method="GET">
      <fieldset>
          <div class="form-row-mode">
            <label for="mode" class="wide">Directions For</label>
              <select name="mode">
                {{option(mode,'ANY','Bike and Bus')}}
                {{option(mode,'BUS','Bus and Streetcar')}}
                {{option(mode,'BIKE','Bike')}}
                {{option(mode,'WALK','Walking')}}
              </select>
          </div>

          <div class="swapper">
            <a id="action-swap" href="#"><img src="static/img/reverse.png" title="Swap From and To directions" width="38" height="44"></a>
          </div>
          <div class="form-row">
            <label for="from">From</label>
            <input type="text" id="from-input" name="from" value="{{from}}" {% if not from %}autofocus{%endif%} placeholder="Address or Landmark"> 
          </div>
        
          <div class="form-row">
            <label for="to">To</label>
            <input type="text" id="to-input" name="to" value="{{to}}" placeholder="Address or Landmark"> 
          </div>

          <div class="form-row-time">
            <select id="timemode" name="timemode" class="wide">
              {{option(timemode,'now','Leave Now')}}
              {{option(timemode,'depart','Leave At')}}
              {{option(timemode,'arrive','Arrive At')}}
            </select>
            <input id="time" type="time" class="input-large" name="time" value="{{time}}" {{hideif(timemode=='now')}}>
          </div>
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Start</button>
          </div>
      </fieldset>
    </form>
    </div>


    {% if result %}
      <div class="directions">
      {% for itinerary in result.plan.itineraries[0:1] %}
        <div id="result-head">
        <h2 class="route-title">Directions from {{fromgeo[2]}} to {{togeo[2]}}</h2>
        <a href="#" id="edit-link">Change</a>
        </div>
        <div class="subtitle">
          Estimated time: {{otp.format_duration(itinerary.endTime-itinerary.startTime)}}
        </div>
        <ul class="legs">
        {% for leg in itinerary.legs %}
          <li class="leg">
          <hr>
          <div class="leg-header">
          <div class="sign">
            <img src="static/img/{{leg.mode}}.png" width="32" height="24">  
            {% if leg.mode == 'WALK' or leg.mode == 'BICYCLE' %}
              {{otp.format_distance(leg.distance)}}
            {% endif %}
            {% if leg.mode == 'BUS' %}
              #{{leg.route}}
            {% endif %}
          </div>
            {% if leg.mode == 'BUS' or leg.mode == 'TRAM' %}
              <div class="eta">{{otp.format_date(leg.startTime)}}</div>
           {% endif %}
          {% if itinerary.legs|length == 1 %}
          <div class="title">
          {{ otp.verb_for_mode(leg.mode) }}
          </div>
          {% else %}
          <div class="title">
          {{ otp.verb_for_mode(leg.mode) }}
          from
          {{ leg.from.name}}
          to
          {{ leg.to.name}}</div>
          <div class="subtitle">
            {% if leg.mode == 'BUS' or leg.mode == 'TRAM' %}
            {{leg.routeLongName}} - {{leg.headsign}} - 
              {{otp.format_duration(leg.duration)}}
            {% else %}
              Approx. {{otp.format_duration(leg.duration)}}
           {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="details" {{hideif(itinerary.legs|count > 1)}}>
          <ol class="steps">
          {% for step in leg.steps %}
          <li>
          <div class="distance">{{ otp.format_distance(step.distance) }}</div>
          {{ otp.step_instructions(step,leg.mode) }}
          </li>
          {% endfor %}
          {% if leg.mode == 'BUS' or leg.mode == 'TRAM' %}
          <li>Departs from {{leg.from.name}} - Stop #{{leg.from.stopCode}}</li>
          <li>Arrives at {{leg.to.name}} - Stop #{{leg.to.stopCode}} at {{otp.format_date(leg.to.arrival)}}</li>
          {% endif %}
          </ol>
          {% set dirflags = {'BUS':'r','TRAM':'r','WALK':'w','BICYCLE':'b'} %}
          {# See: http://mapki.com/wiki/Google_Map_Parameters  #}
          <a href="http://maps.google.com?saddr={{ll(leg.from)}}&daddr={{ll(leg.to)}}&dirflg={{dirflags[leg.mode]}}" class="maplink">
            <img src="http://maps.googleapis.com/maps/api/staticmap?markers=color:green|{{ll(leg.from)}}&markers={{ll(leg.to)}}&size=320x240&path=weight:5%7Ccolor:red%7Cenc:{{leg.legGeometry.points}}&sensor=false"></a>
          </div>
          </li>
        {% endfor %}
      </ul>
      </div>
      {% endfor %}
    {% endif %}

    {% if error %}
    <div class="alert alert-error">
      {{ error }}
    </div>
    {% endif %}

{% endblock %}

{% block footer %}
    <p>
    These directions are for planning purposes only. Actual road conditions may
    vary.
    All times are estimates and all bus and streetcar
    times are listed <b>as scheduled</b>.
    <br><a href="/about">About Bike Bus New Orleans</a></p>
  {% endblock %}
