{% extends "layout.html" %}
{% block content %}

<form method="POST">
  <label>SMS Debug Console</label>
  <textarea  class="span5" name="q" rows="5" placeholder="Type something…">{{question}}</textarea>
  <button type="submit" class="btn btn-primary">Go</button>
  {% for helpstr in help %}
   <p><pre>{{helpstr}}</pre></p>
  {% endfor %}
</form>


{% if message %}
  <h2>Response</h2>
  {% for text in message %}
    <div class="well">
    <span class="badge" style="float:right">
      {{ text|length }}
    </span>
    <pre>{{text}}</pre>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
