{% extends "layout.html" %}
{% block content %}
<h1 id="smshelp">SMS Help</h1>

<p>Phone Number:</p>

<p>(504) 322&#8211;4900</p>

<p>To get bike+bus directions from A to B text:</p>

<pre><code>A to B
</code></pre>

<p>Use addresses or well known landmarks.
Results may include steps - 1,2,3&#8230; Text step # for more info</p>

<p>To change travel mode:</p>

<pre><code>A to B by MODE
</code></pre>

<p>MODE may be BIKE BUS or WALKING</p>

<p>To get directions for a certain time:</p>

<pre><code>A to B arrive at TIME
A to B depart at TIME
</code></pre>
{% endblock %}
