{% extends "layout.html" %}
{% block content %}
<p>The <strong>BikeBusNola</strong> phone number is:</p>

<div class="phone">(504) 322–4900</div>

<p>To get directions between two places send a text to the number above with your
starting point and your destination separated by the word
<span class="sms">TO</span></p>

<div class="sms">
<span class="placeholder">start</span> TO <span class="placeholder">finish</span>
</div>

<p>Each place should be an address or well known landmark. Some examples:</p>

<div class="sms"> 
3400 Freret to City Park
</div>

<div class="sms"> 
Audobon Park to 2400 Claiborne Ave
</div>

<p>Moments later you will recieve a response with directions:</p>

<div class="sms">
<pre>1.Bike from Freret St to Washington at Magnolia-195ft
2.Take bus #27 to Orleans at Navarre @5:54PM 20min
3.Bike to Diagonal Dr-485ft
Text # for more info</pre>
</div>

<p>If the directions have multiple steps (labelled by a number), you can get more
details by responding with the number of the step. Responding with
<span class="sms">1</span> to the above text will send a follow-up text message:</p>

<div class="sms">
<pre>195ft bike-2min
Northeast on Freret St
Left on Louisiana Ave
Right on Magnolia St
Right on Washington Ave</pre>
</div>

<p>By default, directions will be include bicycle and bus combined. To change the
mode of travel include the phrase <span class="sms">BY MODE</span> at the end of your text</p>

<div class="sms">
<span class="placeholder">start</span> TO <span class="placeholder">finish</span> BY 
<span class="placeholder">mode</span>
</div>

<p>The <span class="placeholder">mode</span> may be <span class="sms">BIKE</span>,
<span class="sms">BUS</span>, or <span class="sms">WALKING</span></p>

<p>To get directions for a certain time, include the phrase
<span class="sms">ARRIVE AT</span> or <span class="sms">DEPART AT</span>
at the end of your text</p>

<div class="sms">
<span class="placeholder">start</span> TO <span class="placeholder">finish</span> 
ARRIVE AT <span class="placeholder">time</span>
</div>

<div class="sms">
<span class="placeholder">start</span> TO <span class="placeholder">finish</span> 
DEPART AT <span class="placeholder">time</span>
</div>

<p>Time may be specified as HH:MM in 24 hour (16:13) or 12 hour format (4:13pm),
or relative to the current date (15 minutes, 1 hour)</p>

{% endblock %}

{% block head %}
  <meta name="description" content="Using the BikeBus NOLA SMS service. Text HELP to (504) 322–4900">
{% endblock %}

{% block footer %}
<a href="/">Get Directions</a> | <a href="/about">More Info</a> | <a href="/smshelp">SMS Help</a> | <a href="mailto:info@bikebusnola.com">Contact Us</a>
{% endblock %}
